@{
    ViewData["Title"] = "Home Page";
}


   
        <div class="d-flex min-vh-100 "
             lc-helper="background"
             style="
          background: url(https://images.unsplash.com/photo-1593508512255-86ab42a8e620?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcxMjA1OTE4OA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)
            center / cover no-repeat;
          background-color: #444;
          background-blend-mode: overlay;
        ">
            <div class="align-self-center text-center text-light col-md-8 offset-md-2">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="display-1 fw-bolder">
                            Detecting of Onset Of Cysbersicknees using Physiological Cues
                        </h1>
                    </div>
                </div>

                <div class="lc-block">
                    <div editable="rich">
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                            faucibus porttitor dui.
                        </p>

                        <p class="lead">Sim in vestibulum metus pulvinar sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    
    

