@model List<ICTCapstoneProject.Models.CameraPosition>
@{
    ViewData["Title2"] = "Camera Position Report";
}

<style>
    .scene-name {
        font-size: 20px;
        font-weight: 500;
        padding-left: 2rem;
        margin-left: 2.5rem;
        width: 100px;
    }

    .cont-2 {
        padding-left: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .form-check {
        padding-left: 4rem; /* Adjusted padding */
    }
</style>

<section id="participant">
    <div class="container mt-3 mb-2 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>@ViewData["Title2"]</h2>
            </div>
        </div>
    </div>
</section>

<section id="scene">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <div class="scene-name"><p>Scene</p></div>
                <div class="container cont-2">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <div class="form-check">
                                <label class="form-check-label" for="active">
                                    SimulatedIMU
                                </label>
                            </div>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <form method="post"
                                  id="uploadActiveForm"
                                  enctype="multipart/form-data"
                                  asp-controller="CameraPosition"
                                  asp-action="Index">
                                <div class="col-md-auto d-flex align-items-center justify-content-center">
                                    <input type="file" name="file" class="form-control" />
                                </div>
                            </form>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input type="submit"
                                   form="uploadActiveForm"
                                   value="Upload File"
                                   class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script>
    </script>
}